<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	
    
<!--    admin grid-->
    
    <preference for="Magentoyan\SpinToWin\Api\Data\GridInterface" type="Magentoyan\SpinToWin\Model\Grid" />

    <type name="Magentoyan\SpinToWin\Model\ResourceModel\Grid\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">spin_to_win_slices</argument>
            <argument name="resourceModel" xsi:type="string">Magentoyan\SpinToWin\Model\ResourceModel\Grid</argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_spintowin" xsi:type="string">Magentoyan\SpinToWin\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
<!--    admin grid end-->

<!--ui form-->
<type name="Magento\SalesRule\Model\Rule\Condition\Address">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Found">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Subselect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Customer">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">employee_form</item>
            </argument>
        </arguments>
    </type>
<!--ui form end-->
    
</config>
